body{
    margin: 0;
    padding: 0;
    background: url("ooo.webp");
    background-attachment: fixed;
    background-size: cover;
}
#box{
width: 400px;
    background: black;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
}
#box img{
    border-radius: 50%;
    transition: 0.5s;
}
#box img:hover{
    transform:scale(0.8);
}
#box h1{
    font-size: 35px;
    letter-spacing: 5px;
}
#box h4{
    font-size: 20px;
    letter-spacing: 2px;
    color: #5353fc;
}
ul{
    margin: 0;
    padding: 0;
}
#box li{
    display: inline-block;
    margin: 10px;
    list-style: none;
}
#box li a{
    color: #ECEFF1;
    font-size: 45px;
    transition: all ease-in-out 250ms;
}
#box li a:hover{
    color: red;
}